In [97]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [98]:
df = pd.read_csv("multiclass.csv")

In [99]:
df.head()

   Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen  class
0       3  12669  9656     7561     214              2674        1338      2
1       3   7057  9810     9568    1762              3293        1776      2
2       3   6353  8808     7684    2405              3516        7844      2
3       3  13265  1196     4221    6404               507        1788      1
4       3  22615  5410     7198    3915              1777        5185      1

**24Seven** is a retail chain, which has different stores buying various products. Based on the purchase history we want to divide the stores into classes for better inventory management and customer handling.

**Data Description:**


| Id | Features | Description |
| :-- | :--| :--|
|01| **Region** | Region of the store (1: Less purchase 2: frequent purchase 3: high purchase|
|02| **Fresh** | How many fresh items are brought |
|03|**Milk**| How many units of Milk is purchased |
|04|**Grocery**|Units of Grocery bought for the store |
|05|**Frozen**|Frozen items purchased |
|06|**Detergents_Paper**|Unit of Detergents and paper bought |
|07|**Delicassen**|Food related items |
|08|**class**| Type/Category of the Store (1 ,2 , 3)|

In [100]:
df.shape

(440, 8)

In [101]:
df.isnull().sum()

Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicassen          0
class               0
dtype: int64

In [102]:
df.describe()

,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,class
count,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000,440.000000
mean,2.543182,12000.297727,5796.265909,7951.277273,3071.931818,2881.493182,1524.870455,2.195455
std,0.774272,12647.328865,7380.377175,9503.162829,4854.673333,4767.854448,2820.105937,0.744289
min,1.000000,3.000000,55.000000,3.000000,25.000000,3.000000,3.000000,1.000000
25%,2.000000,3127.750000,1533.000000,2153.000000,742.250000,256.750000,408.250000,2.000000
50%,3.000000,8504.000000,3627.000000,4755.500000,1526.000000,816.500000,965.500000,2.000000
75%,3.000000,16933.750000,7190.250000,10655.750000,3554.250000,3922.000000,1820.250000,3.000000
max,3.000000,112151.000000,73498.000000,92780.000000,60869.000000,40827.000000,47943.000000,3.000000

In [103]:
# Check unique Regions and their counts
df['Region'].value_counts()

Region
3    316
1     77
2     47
Name: count, dtype: int64

In [104]:
# Check unique classes and their counts
df['class'].value_counts()

class
2    180
3    173
1     87
Name: count, dtype: int64

**One-Hot Encode Regions and class** as both are **Categorical data**

In [105]:
region_col = df[['Region']]

# Initialize and apply encoder
encoder = OneHotEncoder(sparse_output=False)
region_encoded = encoder.fit_transform(region_col)

# Get column names and create a DataFrame
region_feature_names = encoder.get_feature_names_out(['Region'])
region_df = pd.DataFrame(region_encoded, columns=region_feature_names)

# Concatenate with original data
df = pd.concat([df.drop('Region', axis=1), region_df], axis=1)

class_col = df[['class']]

# Initialize and apply encoder
encoder = OneHotEncoder(sparse_output=False)
class_encoded = encoder.fit_transform(class_col)

# Get column names and create a DataFrame
class_feature_names = encoder.get_feature_names_out(['class'])
class_df = pd.DataFrame(class_encoded, columns=class_feature_names)

# Concatenate with original data
df = pd.concat([df.drop('class', axis=1), class_df], axis=1)

In [106]:
df.head()

,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen,Region_1,Region_2,Region_3,class_1,class_2,class_3
0,12669,9656,7561,214,2674,1338,0.0,0.0,1.0,0.0,1.0,0.0
1,7057,9810,9568,1762,3293,1776,0.0,0.0,1.0,0.0,1.0,0.0
2,6353,8808,7684,2405,3516,7844,0.0,0.0,1.0,0.0,1.0,0.0
3,13265,1196,4221,6404,507,1788,0.0,0.0,1.0,1.0,0.0,0.0
4,22615,5410,7198,3915,1777,5185,0.0,0.0,1.0,1.0,0.0,0.0